{
    "MAINFILE": null, 
    "JSONPATH": null, 
    "LISTFILES": {
        "exe": [
            null
        ], 
        "zip": [
            null
        ], 
        "dll": [
            null
        ]
    }, 
    "CONFIGPATH": null, 
    "ASSEMBLY": {
        "libembed": false, 
        "file_version": null, 
        "copyright": null, 
        "standalone": false, 
        "embed": false, 
        "product_version": null, 
        "company": null, 
        "product_name": null
    }, 
    "ZIPPATH": null, 
    "MAKEDIR": null, 
    "MAKEEXE": false, 
    "OUTDIR": null
}