{
    "MAKEDIR": "C:\\Users\\PEllc\\ipython\\ipybuilder\\ipybuilder\\explore", 
    "ZIPPATH": null, 
    "ASSEMBLY": {
        "company": "Process Engineering LLC (PE LLC)", 
        "copyright": "Copyright 2018 - Howard Dunn. Apache 2.0 v2 Licensed.", 
        "product_version": "0.0.A.20", 
        "file_version": "0.0.11.20", 
        "libembed": false, 
        "embed": false, 
        "standalone": true, 
        "product_name": "PESwim debug tool explore"
    }, 
    "MAINFILE": "C:\\Users\\PEllc\\ipython\\ipybuilder\\ipybuilder\\explore\\explorlib.py", 
    "CONFIGPATH": "C:\\Users\\PEllc\\ipython\\ipybuilder\\ipybuilder\\explore\\explore_config.config", 
    "JSONPATH": "C:\\Users\\PEllc\\ipython\\ipybuilder\\ipybuilder\\explore\\explore.json", 
    "LISTFILES": {
        "zip": [
            null
        ], 
        "exe": [
            "C:\\Users\\PEllc\\ipython\\ipybuilder\\ipybuilder\\explore\\explorver.py", 
            "C:\\Users\\PEllc\\ipython\\ipybuilder\\ipybuilder\\explore\\libimport.py", 
            "C:\\Users\\PEllc\\ipython\\ipybuilder\\ipybuilder\\version.py", 
            "C:\\Users\\PEllc\\ipython\\ipybuilder\\ipybuilder\\ipyver.py"
        ], 
        "dll": [
            null
        ]
    }, 
    "MAKEEXE": true, 
    "OUTDIR": "C:\\Users\\PEllc\\ipython\\ipybuilder\\release2"
}