{
    "MAINFILE": "C:\\Users\\PEllc\\ipython\\builder\\examples\\makehelloself.py", 
    "ASSEMBLY": {
        "product_version": "0.0.1.1 alpha", 
        "copyright": "Copyright 2018 - Howard Dunn. Apache 2.0 v2 Licensed.", 
        "standalone": true, 
        "company": "Process Engineering LLC (PE LLC)", 
        "file_version": "0.0.1.1", 
        "libembed": true, 
        "embed": true, 
        "product_name": "PESwim installer"
    }, 
    "CONFIGPATH": "examples\\makeself_assembly_config.config", 
    "ZIPPATH": null, 
    "JSONPATH": "C:\\Users\\PEllc\\ipython\\builder\\examples\\makeself_assembly.json", 
    "LISTFILES": {
        "exe": [
            null
        ], 
        "zip": [
            null
        ], 
        "dll": [
            "C:\\Users\\PEllc\\ipython\\builder\\examples\\makes.py", 
            "C:\\Users\\PEllc\\ipython\\builder\\ipyver.py"
        ]
    }, 
    "MAKEDIR": "C:\\Users\\PEllc\\ipython\\builder\\examples", 
    "MAKEEXE": true, 
    "OUTDIR": "C:\\Users\\PEllc\\ipython\\builder\\examples\\release"
}