{
    "MAINFILE": "C:\\Users\\PEllc\\ipython\\Development\\builder\\examples\\makehello.py", 
    "ASSEMBLY": {
        "product_version": "0.0.0.1", 
        "copyright": "Copyright Notice", 
        "standalone": false, 
        "company": "Your Identifier", 
        "file_version": "0.0.0.1", 
        "libembed": false, 
        "embed": false, 
        "product_name": "Application exe name"
    }, 
    "CONFIGPATH": "C:\\Users\\PEllc\\ipython\\Development\\builder\\examples\\make_assembly_config.config", 
    "ZIPPATH": null, 
    "JSONPATH": "C:\\Users\\PEllc\\ipython\\Development\\builder\\examples\\make_assembly.json", 
    "LISTFILES": {
        "exe": [
            null
        ], 
        "zip": [
            null
        ], 
        "dll": [
            "C:\\Users\\PEllc\\ipython\\Development\\builder\\examples\\make.py", 
            "C:\\Users\\PEllc\\ipython\\Development\\builder\\ipyver.py"
        ]
    }, 
    "MAKEDIR": "C:\\Users\\PEllc\\ipython\\Development\\builder\\examples", 
    "MAKEEXE": true, 
    "OUTDIR": "C:\\Users\\PEllc\\ipython\\Development\\builder\\examples\\cmd"
}