{
    "MAKEDIR": "E:\\ipybuild\\examples", 
    "ZIPPATH": null, 
    "ASSEMBLY": {
        "company": "Your Identifier", 
        "copyright": "Copyright Notice", 
        "product_version": "0.0.0.1", 
        "file_version": "0.0.0.1", 
        "libembed": false, 
        "embed": true, 
        "standalone": true, 
        "product_name": "Application exe name"
    }, 
    "MAINFILE": "E:\\ipybuild\\examples\\makehello_aloneDLib.py", 
    "CONFIGPATH": "E:\\ipybuild\\examples\\makehello_alone_assembly_config.config", 
    "JSONPATH": "E:\\ipybuild\\examples\\makehello_alone_assembly.json", 
    "OUTDIR": "E:\\mkialone", 
    "MAKEEXE": true, 
    "LISTFILES": {
        "zip": [
            null
        ], 
        "exe": [
            null
        ], 
        "dll": [
            "E:\\ipybuild\\examples\\make.py", 
            "E:\\ipybuild\\ipyver.py"
        ]
    }
}