..\..\..\ironpython\idle.bat
..\..\..\ironpython\IKVM.Reflection.dll
..\..\..\ironpython\ipy.exe
..\..\..\ironpython\ipy.exe.config
..\..\..\ironpython\ipy64.exe
..\..\..\ironpython\ipy64.exe.config
..\..\..\ironpython\ipyc.exe
..\..\..\ironpython\ipyc.exe.config
..\..\..\ironpython\IronPython.dll
..\..\..\ironpython\IronPython.Modules.dll
..\..\..\ironpython\License.html
..\..\..\ironpython\License.rst
..\..\..\ironpython\License.rtf
..\..\..\ironpython\License.StdLib.txt
..\..\..\ironpython\License.txt
..\..\..\ironpython\Microsoft.Dynamic.dll
..\..\..\ironpython\Microsoft.Scripting.dll
..\..\..\ironpython\Microsoft.Scripting.Metadata.dll
..\..\..\ironpython\StdLib.dll
